body {
	font-family: Open Sans;
	line-height: 28px;

}

.my-image {
  width: 100%;
  max-width: 800px;
}

.page {
	max-width: 800px;
	margin: 50px auto 70px;
	padding: 0 30px;

}

h1 {
line-height: 40px;
}

h2 {
line-height: 42px;
}

.social-button {
	font-size: 16px; 
	margin-right: 1.2em;
}

.social-button:hover,
.social-button:focus {
	cursor: pointer;
}


