@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=cyrillic");
html {
  height: 100%;
  font-size: 1.8vh;
}
body {
  margin: 0;
  height: 100%;
  font-family: 'PT Sans Narrow', sans-serif;
  background: #5a23ff;
}
